{% extends 'base.html.twig' %}

{% block title %}O nas{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
{% endblock %}

{% block content %}
    <h1>O nas</h1>
    <p>To jest treść strony o nas.</p>
{% endblock %}
