{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mx-auto my-4 px-4">
        <div class="bg-white shadow-xl rounded-lg py-6">
            <div class="block lg:flex lg:items-center lg:justify-between">
                <div class="w-full lg:w-1/2 px-4 mb-4 lg:mb-0">
                    <h2 class="text-gray-800 text-3xl font-bold mb-2">Welcome to Expense Manager!</h2>
                    <p class="text-gray-600 text-lg">Manage your expenses efficiently and effortlessly. Get insights into your spending habits and stay on top of your budget.</p>
                </div>
                <div class="w-full lg:w-1/2 px-4">
                    <div class="table-container">
                        <table class="min-w-full leading-normal">
                            <thead>
                            <tr>
                                <th class="table-header">Item</th>
                                <th class="table-header">Cost</th>
                                <th class="table-header">Date</th>
                                <th class="table-header">Category</th>
                                <th class="table-header">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="table-cell">Netflix</td>
                                <td class="table-cell">$10</td>
                                <td class="table-cell">Jan 01, 2024</td>
                                <td class="table-cell">Entertainment</td>
                                <td class="table-cell status-paid">Paid</td>
                            </tr>
                            <tr>
                                <td class="table-cell">Internet</td>
                                <td class="table-cell">$25</td>
                                <td class="table-cell">Jan 01, 2024</td>
                                <td class="table-cell">Bills</td>
                                <td class="table-cell status-unpaid">Unpaid</td>
                            </tr>
                            <!-- Additional rows with conditions for status -->
                            <tr>
                                <td class="table-cell">Mobile</td>
                                <td class="table-cell">$50</td>
                                <td class="table-cell">Jan 15, 2024</td>
                                <td class="table-cell">Bills</td>
                                <td class="table-cell text-green-500">Paid</td>
                            </tr>

                            </tbody>
                        </table>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto px-4">
        <div class="bg-white shadow-xl rounded-lg py-6">
            <div class="block lg:flex lg:items-center lg:justify-between flex-grow">
                <!--  card with SVG chart -->
                <div class="w-full lg:w-1/2 px-4">
                    <div class="bg-white p-6 rounded-lg shadow-lg">
                        <svg height="250" xmlns="http://www.w3.org/2000/svg" class="rounded border">
                            <!-- Bars for Chart -->
                            <rect x="20" y="50" width="50" height="150" fill="#E55451" />
                            <text x="25" y="45" fill="#000">Bills</text>
                            <text x="25" y="220" fill="#000">$75</text>

                            <rect x="100" y="80" width="50" height="120" fill="#ecc94b" />
                            <text x="105" y="75" fill="#000">Food</text>
                            <text x="105" y="220" fill="#000">$50</text>

                            <rect x="180" y="180" width="50" height="20" fill="#68d391" />
                            <text x="185" y="170" fill="#000">Entertainment</text>
                            <text x="185" y="220" fill="#000">$10</text>
                        </svg>
                        <p class="text-gray-600 text-lg mt-4">
                            The chart illustrates your monthly expenses across different categories. Monitoring your spending helps in better financial planning and insights into where your money goes each month.
                        </p>
                    </div>
                </div>
                <!-- Description container -->
                <div id="dupa" class="w-full lg:w-1/2 p-4 border flex flex-col flex-grow">
                    <h3 class="text-gray-800 text-xl font-semibold mb-2">Monthly Expense Breakdown</h3>
                    <p class="text-gray-600 mb-4">Visualize your spending patterns across different categories over the month. Track your budget and manage your finances more effectively.</p>
                    <h3 class="text-gray-800 text-xl font-semibold mb-2">About Expense Management</h3>
                    <p class="text-gray-600 mb-4">Managing your expenses effectively helps you to keep financial stress at bay. Our intuitive tools allow you to forecast expenses and monitor transactions in a simple and secure manner. Get actionable insights into your financial habits and make informed decisions that support your financial goals.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto pt-8">
        <h2 class="text-center text-2xl text-gray-800 font-bold mb-6">What Our Users Say</h2>
        <div class="flex flex-wrap justify-around">
            <!-- Card 1 -->
            <div class="w-full md:w-1/3 p-4">
                <div class="bg-white shadow-lg rounded-lg p-5">
                    <p class="text-gray-600 italic">"I tell ya what, Expense Manager is a game changer. Keeps all my bills and spendin' straighter than an arrow!"</p>
                    <div class="mt-4 text-right">
                        <p class="text-gray-800 font-bold">- Billy Bob, Ranch Owner</p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="w-full md:w-1/3 p-4">
                <div class="bg-white shadow-lg rounded-lg p-5">
                    <p class="text-gray-600 italic">"I've saved hours every month since I started using Expense Manager. Highly recommend for anyone looking to simplify their finances."</p>
                    <div class="mt-4 text-right">
                        <p class="text-gray-800 font-bold">- John Smith, Entrepreneur</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="w-full md:w-1/3 p-4">
                <div class="bg-white shadow-lg rounded-lg p-5">
                    <p class="text-gray-600 italic">"The insights provided by Expense Manager are invaluable for budget planning. It's a must-have tool for managing personal finances."</p>
                    <div class="mt-4 text-right">
                        <p class="text-gray-800 font-bold">- Sarah Lee, Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
