{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle|default('Kategorie') }}{% endblock %}

{% block content %}

    <div class="container mx-auto mt-4 p-4">

        <nav class="flex justify-between items-center">
            <h1 class="text-xl font-bold">{{ pageTitle|default('Kategorie') }}</h1>

            {% include 'components/button.html.twig' with {
                href: path('category_add'),
                text: 'Dodaj kategorię',
                icon: '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>',
            } %}

        </nav>

        <div class="table-container mt-5">
            <table class="table-fixed w-full">
                <thead>
                <tr>
                    <th class="table-header">Id</th>
                    <th class="table-header">Kategoria</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td class="table-cell"> {{ category.id }} </td>
                        <td class="table-cell"> {{ category.name }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
